{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  {% block extrastatic %}
  {% endblock %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
  crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <!-- ============================================ HEADER  =============-->
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Tienda de mascotas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'formulario' %}">Formulario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'api' %}">Api</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
           href="#" role="button" aria-haspopup="true" aria-expanded="false">
           Categoria</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'collares' %}">Collares</a>
          <a class="dropdown-item" href="{% url 'comida' %}">Comida</a>
          <a class="dropdown-item" href="{% url 'jueguetes' %}">Jueguetes</a>
        </div>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item"></a>
        <a class="nav-link", href="{% url 'add_mascota' %}">Añadir mascota</a>
      </li>
      <li class="nav-item">
        <a class="nav-link", href="{% url 'list_mascota' %}">Listar mascota</a>
      </li>
      <li class="nav-item">
        <a class="navbar-text",>Hola - {{user.username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registrar' %}">Registrarse</a>
      </li>
      {% endif %}
    
    </ul>
  </div>
  </nav>
</div>
    <div class="container">
      {% block content %} <h4> Bloque de contenido </h4> {% endblock %}
    </div>






    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    {% block js %} 

    {% endblock %}
</body>

</html>

    
