{% extends 'core/base.html' %} {% load static %} {% block extrastatic %}
<link rel="stylesheet" href="{%static 'css/collares.css'%}" />
{% endblock %} {% block content %}
<div class="Container-Portada">
  <img
    class="PortadaCollares"
    src="{%static 'img/Productos/PortadaCollar.jpg'%}"
    alt="PortadaCollares"
  />
</div>

<div class="Listado">
  <div class="card-group">
    <div class="card">
      <img
        src="{%static 'img/Productos/collares/collar1-removebg-preview.png'%}"
        class="Collar1"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          hueso de perro rojo, con diseño de mancuerna cuando el perro muerda
          las mancuernas este chirriara
        </p>
        <p class="card-text"><small class="text-muted">Talla S / M</small></p>
      </div>
    </div>
    <div class="card">
      <img
        src="{%static 'img/Productos/collares/collar2-removebg-preview.png'%}"
        class="Collar2"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          collar para tu mascota de material de cuero sintetico con diseño de
          estrellas, hecho a mano.
        </p>
        <p class="card-text">
          <small class="text-muted">Talla M / L / XL / XXL</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="{%static 'img/Productos/collares/collar3-removebg-preview.png'%}"
        class="Collar3"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          collar para tu mascota de material de tela con dos tonalidades de
          color negro/rojo, hecho a mano
        </p>
        <p class="card-text">
          <small class="text-muted">Talla M / L / XL / XXL</small>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="Listado2">
  <div class="card-group">
    <div class="card">
      <img
        src="{%static 'img/Productos/collares/collar4-removebg-preview.png'%}"
        class="Collar4"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          collar para tu mascota de material de tela con dos tonalidades de
          color negro/rojo, hecho a mano
        </p>
        <p class="card-text">
          <small class="text-muted">Talla S / M / L</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="{%static 'img/Productos/collares/collar5-removebg-preview.png'%}"
        class="Collar5"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          collar para tu mascota de cuero sintetico unicolor (rosado pastel),
          hecho a mano.
        </p>
        <p class="card-text">
          <small class="text-muted">Talla S / M / L / XL / XXL</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="{%static 'img/Productos/collares/collar6-removebg-preview.png'%}"
        class="Collar6"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          collar para tu mascota de cuero sintetico (negro) con diseño de
          huesos, hecho a mano
        </p>
        <p class="card-text">
          <small class="text-muted">Talla S / M / L / XL</small>
        </p>
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
{% endblock %}
