{% extends 'core/base.html'%} {% load static %} {%block extrastatic%}
<title>Lista de mascotas</title>
{%endblock%} {%block content%} {% if object_list %}
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Fecha de registro</th>
      <th>Edad</th>
      <th>Domicilio</th>
      <th>Categoria animal</th>
      <th>Fecha de nacimiento</th>
      {% if user.is_authenticated %} {% if user.is_superuser%}
      <th></th>
      <th></th>
      {%endif%} {%endif%}
    </tr>
  </thead>
  <tbody>
    {% for mascota in object_list %}
    <tr>
      <th scope="row">{{ mascota.nombre }}</th>
      <td>{{ mascota.fecha_registro }}</td>
      <td>{{ mascota.edad }}</td>
      <td>{{ mascota.domicilio }}</td>
      <td>{{ mascota.tipo_animal }}</td>
      <td>{{ mascota.fecha_nacimiento }}</td>
      {% if user.is_authenticated %} {% if user.is_superuser%}
      <td>
        <a class="btn btn-primary" href="{% url 'edit_mascota' mascota.id %}"
          >Editar</a
        >
      </td>
      <td>
        <a class="btn btn-danger" href="{% url 'delete_mascota' mascota.id %}"
          >Borrar</a
        >
      </td>
      {% endif %} {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<h1>No hay registros de Mascotas</h1>
{% endif %} {% endblock %}
